In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df = pd.read_csv("../data/raw/istihdam-verileri.csv")
df.head()

,yil,istanbul_turkiye,kirilim_bir,kirilim_iki,istihdam_bin_kisi,istihdam_orani
0,2023,İstanbul,Cinsiyet,Erkek,4333,69.3
1,2023,İstanbul,Cinsiyet,Kadın,2236,34.9
2,2023,İstanbul,Yaş Grubu,15-19,264,24.0
3,2023,İstanbul,Yaş Grubu,20-24,687,55.8
4,2023,İstanbul,Yaş Grubu,25-34,1838,69.5

In [9]:
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 546 entries, 0 to 545
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   yil                546 non-null    int64
 1   istanbul_turkiye   546 non-null    object
 2   kirilim_bir        546 non-null    object
 3   kirilim_iki        546 non-null    object
 4   istihdam_bin_kisi  546 non-null    int64
 5   istihdam_orani     220 non-null    float64
dtypes: float64(1), int64(2), object(3)
memory usage: 25.7+ KB

               yil  istihdam_bin_kisi  istihdam_orani
count   546.000000         546.000000      220.000000
mean   2018.538462        4982.457875       44.296977
std       2.883580        5846.849558       19.132623
min    2014.000000           0.000000        9.100000
25%    2016.000000         978.250000       25.125000
50%    2019.000000        2678.500000       46.950000
75%    2021.000000        6428.250000       61.650000
max    2023.000000       26938.000000       73.000000

In [10]:
df.isnull().sum()

yil                    0
istanbul_turkiye       0
kirilim_bir            0
kirilim_iki            0
istihdam_bin_kisi      0
istihdam_orani       326
dtype: int64

In [ ]:
df['istihdam_orani'].describe()

count    220.000000
mean      44.296977
std       19.132623
min        9.100000
25%       25.125000
50%       46.950000
75%       61.650000
max       73.000000
Name: istihdam_orani, dtype: float64

In [14]:
# Kirilim Bir (bar plot)
plt.figure(figsize=(10,4))
sns.countplot(data=df, x='kirilim_bir')
plt.title('Kirilim Bir Kategorileri Sayısı')
plt.xlabel('Kirilim Bir')
plt.ylabel('Sayı')
plt.tight_layout()
plt.savefig("../outputs/raw/kirilim_bir_countplot.png")
plt.close()

# Kirilim Iki (bar plot)
plt.figure(figsize=(12,4))
sns.countplot(data=df, x='kirilim_iki')
plt.title('Kirilim İki Kategorileri Sayısı')
plt.xlabel('Kirilim İki')
plt.ylabel('Sayı')
plt.tight_layout()
plt.savefig("../outputs/raw/kirilim_iki_countplot.png")
plt.close()

# İstihdam Oranı – Histogram + KDE
plt.figure(figsize=(8,4))
sns.histplot(df['istihdam_orani'], bins=20, kde=True)
plt.title('İstihdam Oranı Dağılımı')
plt.xlabel('İstihdam Oranı (%)')
plt.ylabel('Frekans')
plt.tight_layout()
plt.savefig("../outputs/raw/istihdam_orani_distribution.png")
plt.close()

# İstihdam Bin Kişi vs İstihdam Oranı – Scatter Plot
plt.figure(figsize=(8,5))
sns.scatterplot(
    x=df['istihdam_bin_kisi'],
    y=df['istihdam_orani']
)
plt.title('İstihdam Bin Kişi vs İstihdam Oranı')
plt.xlabel('İstihdam Bin Kişi')
plt.ylabel('İstihdam Oranı (%)')
plt.tight_layout()
plt.savefig("../outputs/raw/istihdam_bin_vs_oran.png")
plt.close()

# Yıl bazında istihdam oranlarının dağılımı (Boxplot)
plt.figure(figsize=(10,5))
sns.boxplot(x=df['yil'], y=df['istihdam_orani'])
plt.title('Yıllara Göre İstihdam Oranı Dağılımı')
plt.xlabel('Yıl')
plt.ylabel('İstihdam Oranı (%)')
plt.tight_layout()
plt.savefig("../outputs/raw/yillara_gore_istihdam_orani.png")
plt.close()